div {
    text-align: center;
}

h1 {
    color:#000000;

    margin-top: 5%;
    font-size: 80px;
    font-family:  Impact;
}

button {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
}

p{
    font-family: Times New Roman;
    color:#000000;
    margin-top: 2%;
    font-size: 35px;
}

button:hover{
    background-color: green;
}
